.Header {
    // position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: var(--text);
    height: 90px;
    padding-inline: 8vw;
    z-index: 5;

    img {
        
       width: 6vw;
    }

    nav {
        @include Flex;
    z-index: 5;

        .Links {
            margin-bottom: 0;
            @include Flex;
            gap: 2.5vw;

            svg {
                height: 45px;
                // cursor: pointer;

            }

            li {
                all: unset;
                @include underLineText(var(--primary), var(--secondary));
                // cursor: pointer;
                padding-bottom: 1px;

                &:has(.active) {
                    color: var(--primary);
                    opacity: 1 !important;
                    font-weight: bold;


                }

                &:last-child {
                    background: var(--primary);
                    color: var(--white);
                    padding: 6px 30px;
                    border-radius: 4px;
                    text-wrap: nowrap;
                    opacity: 1;
                    margin-inline:15vw 5vw;
                }

            }
        }
    }

}

.Translate,
.Theme {
    li {
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    img {
        margin-inline: 6px;
        display: inline !important;
    }
}

.Header {
    .ant-btn-default {
        all: unset;
    }

    .ant-space-gap-col-small .ant-space-item .ant-dropdown-open {
        background-color: var(--primary);
        color: var(--vg);
        border-width: 0px;

        @include Hover;


    }

    /* List */
    .ant-dropdown-placement-bottom ul {
        background-color: var(--bg) !important;
        color: var(--primary);

        svg {
            margin-inline: 5px;
        }
    }

    /* List Item */
    .ant-dropdown-menu li {
        color: var(--primary) !important;
    }

    :where(.css-dev-only-do-not-override-1adbn6x).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
        color: var(--secondary);
        border-color: var(--secondary);
    }

    .MenuChange {

        svg,
        img {
            margin-inline: 5px;
        }
    }

    .Menu_Group {
        @include Flex;
        gap: 20px;
    }



    .NavMenus .ant-space-item span {
        color: var(--text);
    }

    /* Svg */
    .MidBar_Right a svg {
        color: var(--text);
    }

    /* Svg */
    .MidBar_Right .ViewCart svg {
        color: var(--text);
    }

    /* Special property */
    .special_properties .Towspecial_property .special_property {
        color: var(--text);
    }
}

.MenuNav {
    display: none;
}

@media screen and (max-width: 900px) {
   .Header{
    position: absolute;
   }
}
@media screen and (max-width: 700px) {
    .MenuNav {
        display: block;
    }

    .Links {
        display: none !important;
    }

    .Header {

        h1 {
            font-size: 6vw;
        }
    }
}



 .DrawerLinks {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            gap: 2vw;


            svg {
                height: 45px;
                // cursor: pointer;

            }

            ul{
                padding-left: 0 !important;
            }
            li {
                all: unset;
                @include underLineText(var(--primary), var(--secondary));
                // cursor: pointer;
                padding-bottom: 1px;
                opacity: .6;
                font-size: 20px;
                                padding-left: 0 !important;

                a{
                    &:hover{
                    color: var(--secondary) !important;
                    font-weight: bold;
                }
                }

                &:has(.active) {
                    color: var(--secondary);
                    opacity: 1 !important;

                }


            }
        }



        :where(.css-dev-only-do-not-override-p7e5j5).ant-float-btn-primary .ant-float-btn-body{
            background: var(--primary) !important;
        }
        


        .Footer{
            color: white;
            
a,p {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    color: white !important;

  }
  h5{
    color: var(--primary) !important;
  }
  
  a:hover, a:focus {
    text-decoration: none;
    color: white;

  }
  
  .form-control {
    background: #212529;
    border-color: #545454;
    
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  footer {
    background: #212529;
  }
  

        }