
@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Bold.ttf') format('truetype'); /* Specify the path to the font file */
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Tajawal';
    src: url('../../fonts/Tajawal-Bold.ttf') format('truetype'); /* Specify the path to the font file */
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'OpenSans';
    src: url('../../fonts/OpenSans-Bold.ttf') format('truetype'); /* Specify the path to the font file */
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Regular.ttf') format('truetype'); /* Specify the path to the font file */
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FACEBOLF';
    src: url('../../fonts/FontsFree-Net-FACEBOLF.ttf') format('truetype'); /* Specify the path to the font file */
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}