.Services_Page {
    font-family: "Inter", Sans-serif;

    .Services {
        min-height: 500px;
        width: 100%;

        .Hero_Services {
            background-image: url('../../../public/Doctors/Doctors_Hero.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            height: 23vw;
            // margin-top: 115px;
            position: relative;
            padding-top: 100px;

            >div {
                position: absolute;
                top: 25%;
                left: 10%;

                h1 {
                    font-size: 4vw;
                    font-weight: bold;
                }

                >div {
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    h5 {
                        color: var(--primary);
                        font-size: 1.5vw;
                    }

                    h6,
                    h4 {
                        font-size: 1.5vw;

                    }

                    h4 {
                        color: var(--secondary);
                    }
                }
            }
        }

        .Services_Main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-block: 20px;

            .ReviewCards {
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url('../../../public/Services/Reviews.png');
                background-size: cover;
                width: 80%;
            }

            .ReviewCard {
                margin-inline: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2px;
                width: 300px;
                height: auto;
                text-align: center;
                padding: 10px;

                img {
                    width: 150px;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    @include Shadow;
                }

                h1 {
                    font-size: 20px;
                    font-weight: bold;
                    text-wrap: nowrap;
                }

                h6 {}

                p {
                    font-size: 15px;
                }
            }
        }

        .Services_body2 {
            display: flex;
            width: 100%;
            margin-block: 20px;
            height: 100%;
            position: relative;

            .Services_body_Left2 {
                padding-inline: 5vw;
                min-height: 400px;
                background-color: var(--bg);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;

                .OurDocrtrs {
                    width: 100%;
                    padding-inline: 10%;
                    // margin-block: 30px;
                    display: flex;
                    flex-direction: column;

                    h1 {
                        font-weight: bold;
                        font-size: 4vw;
                    }

                    >p {
                        padding-inline: 10%;
                        font-size: 1.4vw;
                    }

                    text-align: center;

                    .Docor_Cards {
                        margin-top: 40px;
                        height: 500px;
                        padding-top: 60px;

                        .DoctorCard {
                            position: relative;
                            width: 260px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 80px 10px 10px 10px;
                            background: var(--bg);
                            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.07);
                            height: 270px;
                            border-radius: 50px;
                            text-align: center;
                            transition: .7s ease-in-out;
                            cursor: pointer;

                            margin-inline: auto;
                            margin-bottom: 60px;

                            img {
                                position: absolute;
                                top: -50px;
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;

                            }

                            h1 {
                                font-size: 25px;
                            }

                            h5 {
                                font-size: 13px;

                            }

                            &:hover {
                                background: var(--primary);
                                transition: .7s ease-in-out;
                                color: var(--white);
                                scale: 1.02;

                                a {
                                    color: var(--white);
                                    border-bottom: 1px solid var(--white);
                                    padding-bottom: 2px;
                                }
                            }

                            a {
                                color: var(--primary);
                                border-bottom: 1px solid var(--primary);
                                padding-bottom: 2px;
                            }
                        }
                    }

                }

            }
        }

        .Services_body {
            display: flex;
            padding-inline: 5vw;
            width: 100%;
            margin-block: 20px;
            height: 100%;
            gap: 5px;
            position: relative;
            // overflow-y: hidden;


            .Services_body_Left {
                background-color: var(--bg);
                @include Shadow;
                width: 70%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: start;


                .First {
                    >h1 {
                        font-size: 2vw;
                        font-weight: bold;

                    }

                    >h6 {
                        font-size: 1.2vw;
                        margin-bottom: 40px;
                        color: var(--subtext);

                        svg {
                            color: var(--secondary);
                        }
                    }

                    >img {
                        width: 100%;
                        height: 500px;
                        margin-bottom: 40px;
                    }

                    p {
                        font-size: 1vw;
                    }
                }

                .Second {
                    margin-block: 30px;
                    display: flex;
                    gap: 20px;

                    >img {
                        width: 40%;
                    }

                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        >h1 {
                            font-size: 1.5vw;
                            font-weight: bold;
                        }

                        >p {
                            font-size: 1vw;
                        }

                        >div {
                            display: flex;
                            gap: 10px;

                            >div {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;

                                >span {
                                    display: flex;
                                    align-items: start;
                                    gap: 5px;

                                    svg {
                                        height: 20px;
                                        font-size: 20px;
                                        padding: 3px;
                                        border-radius: 50%;
                                        color: var(--white);
                                        background: var(--secondary);
                                    }

                                    h6 {
                                        font-size: 1vw;
                                        height: 20px;

                                    }
                                }

                            }
                        }
                    }
                }

            }

            .Services_body_Right {

                background-color: var(--bg);
                @include Shadow;
                width: 28%;
                padding: 30px 30px;
                height: fit-content;
                position: sticky;
                right: 10px;
                top: 90px;


                >h1 {
                    font-size: 1.4vw;
                    font-weight: bold;

                }

                >span {
                    margin-bottom: 10px;
                }

                button {
                    margin-top: 10px;
                    font-weight: bold;
                }


            }
        }


    }

}



@media screen and (max-width: 900px) {
    .Services_Page {
        .Services {
            padding-top: 70px;

            .Hero_Services {
                background-image: url('../../../public/Doctors/Doctors_Hero.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100vw;
                height: 20vw;
                // margin-top: 115px;
                position: relative;

                // margin-top:50px;
                >div {
                    position: absolute;
                    top: 25%;
                    left: 10%;

                    h1 {
                        font-size: 4vw;
                        font-weight: bold;
                    }

                    >div {
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        h5 {
                            color: var(--primary);
                            font-size: 1.5vw;
                        }

                        h6,
                        h4 {
                            font-size: 1.5vw;

                        }

                        h4 {
                            color: var(--secondary);
                        }
                    }
                }
            }

            .Services_Main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-block: 50px;
                text-align: center;

                .ReviewCards {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-image: url('../../../public/Services/Reviews.png');
                    width: 100%;
                }

                .ReviewCard {
                    margin-inline: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2px;
                    width: 300px;
                    height: auto;
                    text-align: center;
                    padding: 10px;

                    img {
                        width: 150px;
                        border-radius: 50%;
                        margin-bottom: 15px;
                        @include Shadow;
                    }

                    h1 {
                        font-size: 20px;
                        font-weight: bold;
                        text-wrap: nowrap;
                    }

                    h6 {}

                    p {
                        font-size: 15px;
                    }
                }
            }

            .Services_body {
                display: flex;
                padding-inline: 5vw;
                width: 100% !important;
                margin-block: 50px;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;

                .Services_body_Left {
                    background-color: var(--bg);
                    @include Shadow;
                    min-width: 100%;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;



                    .First {
                        >h1 {
                            font-size: 4vw;
                            font-weight: bold;

                        }

                        >h6 {
                            font-size: 2.2vw;
                            margin-bottom: 40px;
                            color: var(--subtext);

                            svg {
                                color: var(--secondary);
                            }
                        }

                        >img {
                            width: 100%;
                            height: 500px;
                            margin-bottom: 40px;
                        }

                        p {
                            font-size: 2vw;
                        }
                    }

                    .Second {
                        margin-block: 30px;
                        display: flex;
                        gap: 20px;

                        >img {
                            width: 40%;
                        }

                        >div {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            >h1 {
                                font-size: 2.5vw;
                                font-weight: bold;
                            }

                            >p {
                                font-size: 1.5vw;
                            }

                            >div {
                                display: flex;
                                gap: 10px;

                                >div {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;

                                    >span {
                                        display: flex;
                                        align-items: start;
                                        gap: 5px;

                                        svg {
                                            height: 20px;
                                            font-size: 20px;
                                            padding: 3px;
                                            border-radius: 50%;
                                            color: var(--white);
                                            background: var(--secondary);
                                        }

                                        h6 {
                                            font-size: 1.5vw;
                                            height: 20px;

                                        }
                                    }

                                }
                            }
                        }
                    }

                }

                .Services_body_Right {

                    background-color: var(--bg);
                    @include Shadow;
                    width: 100%;
                    padding: 50px 30px;
                    height: fit-content;

                    >h1 {
                        font-size: 3.4vw;
                        font-weight: bold;

                    }

                    >span {
                        margin-bottom: 20px;
                    }

                    button {
                        margin-top: 20px;
                        font-weight: bold;
                    }


                }
            }


        }
    }

}