.serviceDetails_Page {
    .Header {
        display: none;
    }

    .ServiceDetails {
        max-width: 75%;
        margin-inline: auto;
        min-height: 500px;
        padding: 20px;
        font-family: 'Poppins';

    

        .ServicesNavBar {
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >div {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 6vw;
                    height: 6vw;
                    cursor: pointer;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }

            >span {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 8px 10px;
                @include Shadow;
                border-radius: 4px;
                font-weight: 600;
                cursor: pointer;
                background-color: var(--bg);
                color: var(--text);
                border-radius: 10px;
                font-size: 11px;

                svg {
                    // width: 30px;
                    font-size: 32px;
                    color: green;
                }
            }

            .Links {
                margin-bottom: 0;
                @include Flex;
                gap: 3vw;

                svg {
                    // height: 155px;
                    // cursor: pointer;

                }

                li {
                    all: unset;
                    @include underLineText(var(--primary), var(--secondary));
                    padding-bottom: 1px;



                }
            }

            .MenuNav {
                display: none;
            }

        }

        .MainSection {
            
            display: flex;
            flex-direction: column;
            margin-block: 20px;
            gap: 2vw;
            padding: 20px 30px;
            min-height: 300px;
            border-radius: 15px;
            @include Shadow;
            position: relative;
            

            >img {
                width: 20vw;
                position: absolute;
                right: 7%;
                bottom: 0%;
            }

            h1 {
                // font-weight: bold;
                font-size: 2.5vw;
                color: var(--primary);
                width: 90%;
                margin-top: 10px;
                // letter-spacing: 1.5px;
                // word-spacing: 10px;
                line-height: 55px;
                margin-bottom: 0px;
                font-weight: 100 !important;
            }

            .bulletPoints {
                display: grid;
                grid-template-areas:
                    "logo navigation"
                    "menu navigation";
                grid-template-rows: auto auto;
                justify-content: flex-start;
                gap: 5%;
                
                img {
                    width: 2vw;
                }

                .bulletPoint {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    min-width: fit-content;
                    text-wrap: nowrap;
                    font-size: 1.2vw;
                    font-weight:600;
                    color: var(--text);

                }
            }

        }
        .Categoriesbuttons {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 5%;

            button {
                border: solid 1px var(--primary);
                color: var(--primary);
                background: transparent;
                font-size: 1.2vw;
                padding: 1vw 3vw;
                margin-block: 15px;
                border-radius: 8px;
                transition: .5s ease-in-out;
                text-wrap: nowrap;
                font-weight: 900;

                &:hover {
                    background-color: var(--primary);
                    color: var(--white);
                }

            }

            .active {
                background-color: var(--primary);
                color: var(--white);

            }

            &:has(button:hover) button:not(:hover) {
                color: var(--primary);
                background: transparent;
            }

        }

        .PricingCategories {
            display: flex;
            align-items: center;
            gap: 5%;
            flex-wrap: wrap;
            padding-inline: 10px;

            .PricingCategory {
                width: 30%;

            }
        }

        .EffectCoverflow {
            width: 100%;
            padding-block: 30px 10px;

            .swiper {
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
            }

            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 150px;
                height: 220px;
                position: relative;


                // &::before {
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     opacity: 0.4;
                //     height: 100%;
                //     z-index: 1;
                //     background-color: black;


                // }
            }


            .SwiperSlide {
                position: relative;

            }

            .SwiperInfo {
                position: absolute;
                top: 30%;
                color: var(--white);
                z-index: 99;
                text-align: center;


            }

        }

       
        .Categoriesbanner {
            height: 17vw;
            width: 100%;
            border-radius: 10px;
            margin-bottom: 40px;

            img {
                height: 17vw;
                width: 100%;
                border-radius: 10px;

            }

            // background: linear-gradient(to right, var(--primary), var(--secondary));
            // border-radius: 10px;
            // margin-bottom: 10px;
        }

        .PricingCategoriesDetails {
            margin-block: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-inline: 10px;
            padding:  30px 50px;
            border-radius: 30px;
            @include Shadow;

            >span {
                display: flex;
                gap: 2px;
            }

            h6 {
                font-size: 1.5vw;
                font-weight: normal;
                color: var(--text);
            }

            h3 {
                font-weight: bold;
                color: var(--text);
                font-size: 3vw;
                margin-bottom: 10px;

            }

            button {
                background-color: var(--secondary);
                color: var(--white);
                border: solid 1px var(--secondary);
                border-radius: 10px;
                font-size: 1.5vw;
                font-weight: bold;
                padding: 10px;
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                margin-inline: auto;
                transition: .5s ease-in-out;
                padding-inline: 4%;

                &:hover {

                    border: solid 1px var(--secondary);
                    color: var(--secondary);
                    background: transparent;

                }

            }
        }

        .InfoSection {
            display: flex;
            width: 100%;
        }

        .benefitsSection {
            width: 50%;

            h3 {
                color: #8F8F91;
                font-size: 1.2vw;
                font-weight: normal;
                padding-left: 4px;
                margin-bottom: 20px;

            }
        }

        .benefits {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 40px;

            .ant-divider-horizontal {
                margin: 3px 0 !important;
            }

            .benefit {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 4vw;

                .Icon {
                    color: var(--primary);
                    font-size: 1.2vw;
                    width: 2vw;
                    height: 2vw;
                    border-radius: 50%;
                    background: hsl(235.38deg 35.14% 92.75%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;

                }

                >div {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    >svg {
                        background: var(--primary);
                        color: var(--white);
                        cursor: pointer;
                        font-size: 1.5vw;
                        border-radius: 50%;
                    }

                    h6 {
                        // text-wrap: nowrap;
                        font-size: 1.2vw;
                        margin-bottom: 0;
                        font-weight: bold;


                    }
                }


            }
        }

    }

}


.CategorieCard {
    padding: 10px;
    @include Shadow;
    display: flex;
    width: 150px;
    height: 200px;
    flex-direction: column;
    gap: 5px;

    img {
        height: 60%;
        width: 100%;
        border-radius: 10px;

    }

    h1 {
        font-weight: bold;
        margin-bottom: 0;
        font-size: 12px !important;

    }

    p {
        color: var(--subtext);
        font-size: 10px !important;
        margin-bottom: 0;

    }

    h4 {
        color: var(--secondary);
        font-size: 14px !important;
        font-weight: 900;

    }
}
 




.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: none;
}


@media screen and (max-width: 700px) {

    .serviceDetails_Page {
        .Header {
            display: none;
        }

        .ServiceDetails {

            min-height: 500px;
            padding: 20px;

            .ServicesNavBar {
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

              
                .MenuNav {
                    display: inline;
                    position: absolute;
                    right: 5%;
                }

                >div {
                    display: flex;
                    align-items: center;

                    justify-content: center;

                    img {
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }
                }

                >span {
                    margin-right: 65px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 8px 10px;
                    @include Shadow;
                    border-radius: 4px;
                    font-weight: bold;
                    cursor: pointer;
                   
                    border-radius: 10px;

                }

            }

            .MainSection {
                display: flex;
                flex-direction: column;
                margin-block: 10px;
                gap: 5px;
                padding: 30px;
                border-radius: 5px;
                @include Shadow;

                >img {
                    display: none;
                }

                h1 {
                    font-weight: bold;
                    font-size: 4.4vw;
                    color: var(--primary);
                    width: 100%;

                }

                .bulletPoints {
                    img {
                        width: 2vw;
                    }
                    display: grid;
                    grid-template-areas:
                        "logo navigation"
                        "menu navigation";
                    grid-template-rows: auto auto;
                    justify-content: flex-start;
                    gap: 5%;
                    width: 100%;

                    .bulletPoint {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        width: 50%;
                        margin-bottom: 5px;
                        min-width: fit-content;
                        text-wrap: nowrap;
                        font-size: 2.3vw;
                        font-weight: bold;
                        color: var(--text);

                        svg {
                            color: var(--primary);
                            border-radius: 1px;
                        }
                    }
                }

            }

            .PricingCategories {
                display: flex;
                align-items: center;

                gap: 5%;
                flex-wrap: wrap;
                padding-inline: 10px;

                .PricingCategory {
                    width: 30%;

                }
            }

            .EffectCoverflow {
                width: 100%;
                padding-block: 30px 10px;

                .swiper {
                    width: 100%;
                    padding-top: 50px;
                    padding-bottom: 50px;
                }

                .swiper-slide {
                    background-position: center;
                    background-size: cover;
                    width: 150px;
                    height: 220px;
                    position: relative;


                    // &::before {
                    //     content: "";
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     opacity: 0.4;
                    //     height: 100%;
                    //     z-index: 1;
                    //     background-color: black;


                    // }
                }


                .SwiperSlide {
                    position: relative;

                }

                .SwiperInfo {
                    position: absolute;
                    top: 30%;
                    color: var(--white);
                    z-index: 99;
                    text-align: center;


                }

            }

            .Categoriesbuttons {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-block: 10px;
                gap: 5%;

                button {
                    border: solid 1px var(--primary);
                    color: var(--primary);
                    background: transparent;
                    font-size: 2.3vw;
                    padding: 10px;
                    margin-bottom: 15px;
                    border-radius: 8px;
                    transition: .5s ease-in-out;
                    text-wrap: nowrap;
                    font-weight: 900;

                    &:hover {
                        background-color: var(--primary);
                        color: var(--white);
                    }

                }

                .active {
                    background-color: var(--primary);
                    color: var(--white);

                }

                &:has(button:hover) button:not(:hover) {
                    color: var(--primary);
                    background: transparent;
                }

            }

            .Categoriesbanner {
                
            }

            .PricingCategoriesDetails {
                margin-block: 10px;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-inline: 10px;
                padding: 20px;
                @include Shadow;

                >span {
                    display: flex;
                    gap: 2px;
                }

                h6 {
                    font-size: 3vw;
                    font-weight: bold;
                    color: var(--text);
                }

                h3 {
                    font-weight: bold;
                    color: var(--text);
                    font-size: 5vw;
                    margin-bottom: 10px;

                }

                button {
            
                    border-radius: 10px;
                    font-size: 4vw;
                    font-weight: bold;
                    padding: 10px;
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    margin-inline: auto;
                    transition: .5s ease-in-out;
                    padding-inline: 10%;

                    &:hover {

                        border: solid 1px var(--secondary);
                        color: var(--secondary);
                        background: transparent;

                    }

                }
            }

            .benefitsSection {
                width: 100%;

                h3 {
                color: #8F8F91;
                font-size: 4vw;
                
                }
            }

            .benefits {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 20px;

                .ant-divider-horizontal {
                    margin: 3px 0 !important;
                }

                .benefit {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: auto;
                    margin-bottom: 15px;

                    .Icon {
                        color: var(--primary);
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: hsl(235.38deg 35.14% 92.75%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;

                    }

                    >div {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .Icon {
                            color: var(--primary);
                            font-size: 3vw;
                            width: 6vw;
                            height: 6vw;
                         
                        }
                        >svg {
                            color: var(--white);
                            cursor: pointer;
                            font-size: 4vw;
                        }

                        h6 {
                            // text-wrap: nowrap;
                            font-size: 2.3vw;
                            margin-bottom: 0;

                        }
                    }


                }
            }

        }

        .InfoSection {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

    }


    .CategorieCard {
        padding: 10px;
        @include Shadow;
        display: flex;
        width: 150px;
        height: 200px;
        flex-direction: column;
        gap: 5px;

        img {
            height: 60%;
            width: 100%;
            border-radius: 10px;

        }

        h1 {
            font-weight: bold;
            margin-bottom: 0;
            font-size: 12px !important;

        }

        p {
            color: var(--subtext);
            font-size: 10px !important;
            margin-bottom: 0;

        }

        h4 {
            color: var(--secondary);
            font-size: 14px !important;
            font-weight: 900;

        }
    }





    .swiper-3d .swiper-slide-shadow-right {
        background-image: none;
    }

    .swiper-3d .swiper-slide-shadow-left {
        background-image: none;
    }

}
/* Swiper button next */
.Categoriesbanner .swiper-backface-hidden .swiper-button-next{
    display:none;
   }
   
   /* Span Tag */
   .serviceDetails_Page .ServiceDetails .PricingCategories .PricingCategoriesDetails .Categoriesbanner .swiper-backface-hidden .swiper-pagination-horizontal span{
    background-color:var(--white) !important;
   }
   
   